<template>
  <div>
    <template v-if="internalRoute==='/'">
      <kkal-limit-counter
        :updateLimit="updateLimit"
        :limitKKal="limitKKal"
        v-if="isKkalLimitCounterShown"
      ></kkal-limit-counter>
      <button
        v-if="limitKKal>0 && isKkalLimitCounterShown"
        @click="isKkalLimitCounterShown = !isKkalLimitCounterShown"
      >Перейти к выбору продуктов</button>
      <button
        v-if="!isKkalLimitCounterShown"
        @click="isKkalLimitCounterShown = !isKkalLimitCounterShown"
      >Перейти к выбору коллорий</button>
      <div v-if="!isKkalLimitCounterShown && productFullInfoIndex === null">
        <products-list-component
          v-bind:productsList="productsList"
          v-bind:removeProductFromList="removeProductFromList"
        ></products-list-component>
        <product-calculator
          v-if="productsList.length > 0"
          v-bind:productsList="productsList"
          :limitKKal="limitKKal"
          v-bind:user="user"
          v-bind:day="days[days.length-1]"
          v-bind:changeRoute="changeRoute"
        ></product-calculator>
        <products-search
          v-bind:addProductToList="addProductToList"
          v-bind:showProductInfo="showProductInfo"
          v-bind:searchStringSaved="searchStringSaved"
          v-bind:saveSearchString="saveSearchString"
        />
      </div>
      <div v-if="productFullInfoIndex !== null">
        <product-full-info
          v-bind:showProductInfo="showProductInfo"
          v-bind:product="products[productFullInfoIndex]"
        />
      </div>
    </template>
    <template v-if="internalRoute==='/test-page/'">
      <test-page />
    </template>
  </div>
</template>

<script>



import kkalLimitCounter from "../components/application/kkal-limit-counter.vue";
import productsListComponent from "../components/application/products-list.vue";
import productCalculator from "../components/application/product-calculator.vue";
import productsSearch from "../components/application/products-search.vue";
import productFullInfo from "../components/application/product-full-info.vue";
import testPage from "../components/application/test/test-page.vue";





export default {
  data() {
    return {

    user:{
      username:"",
      email: "",
      height: 176,
    },
    days: [{
      date: Date.now(),
      pulse: 72,
      mass: 95,
      hoursOfSleep: 5,
      attitude: 7,
      minutesOfExercises: 40,
      badMarkerCount: 45
    }],
    productsList: [],
    limitKKal: 0,
    // productFullInfoOpend:false,
    productFullInfoIndex: null,
    searchStringSaved: "",
    isKkalLimitCounterShown: true,

    internalRoute:'/test-page/'
    }
    
  },
  methods: {
    changeRoute: function (newRoute){
      this.internalRoute = newRoute
    },
    addProductToList: function(index) {
      this.productsList.push(index);
      console.log(this.productsList)
    },
    showProductInfo: function(index) {
      this.productFullInfoIndex = index;
    },
    saveSearchString: function(searchString) {
      this.searchStringSaved = searchString;
    },
    removeProductFromList(index) {
      this.productsList.splice(index, 1);
    },
    updateLimit(limit) {
      this.limitKKal = limit;
    }
  },

  components: {
    kkalLimitCounter,
    productsListComponent,
    productCalculator,
    productsSearch,
    productFullInfo,
    testPage
  },

  transition: {
    name: "slide-fade"
  },
  layout: "default",
  head() {
    return {
      title: this.$t("indexPageHead.title"),
      htmlAttrs: {
        lang: this.$i18n.locale
      },
      script: [
        { src: "https://identity.netlify.com/v1/netlify-identity-widget.js" }
      ],
      meta: [
        { name: "author", content: "Marina Aisa" },
        {
          name: "description",
          property: "og:description",
          content: this.$t("indexPageHead.description"),
          hid: "description"
        },
        { property: "og:title", content: this.$t("indexPageHead.title") },
        { property: "og:image", content: this.ogImage },
        {
          name: "twitter:description",
          content: this.$t("indexPageHead.description")
        },
        { name: "twitter:image", content: this.ogImage }
      ]
    };
  },

  computed: {
    ogImage: function() {
      return;
    }
  },
  mounted() {
    // console.log(products);
  }
};
</script>
