<template>
  <div>
    Админ
    <button @click="changePage(Pages.DashBoard)">DashBoard</button>
    <button @click="changePage(Pages.Products)">продукты</button>
    <DashBoard v-if="currentPage === Pages.DashBoard" />
    <Products v-if="currentPage === Pages.Products" />
  </div>
</template>

<script>
import DashBoard from "../components/dashboard/dashboard";
import Products from "../components/dashboard/products";

export default {
  data() {
    return {
      Pages: {
        DashBoard: "DashBoard",
        Products: "Products"
      },
      currentPage: "DashBoard"
    };
  },
  methods: {
    changePage(pageName) {
      this.currentPage = pageName;
    }
  },

  components: {
    DashBoard,
    Products
  },

  transition: {
    name: "slide-fade"
  },
  layout: "default",
  head() {
    return {
      title: this.$t("indexPageHead.title"),
      htmlAttrs: {
        lang: this.$i18n.locale
      },
      script: [
        { src: "https://identity.netlify.com/v1/netlify-identity-widget.js" }
      ],
      meta: [
        { name: "author", content: "Marina Aisa" },
        {
          name: "description",
          property: "og:description",
          content: this.$t("indexPageHead.description"),
          hid: "description"
        },
        { property: "og:title", content: this.$t("indexPageHead.title") },
        { property: "og:image", content: this.ogImage },
        {
          name: "twitter:description",
          content: this.$t("indexPageHead.description")
        },
        { name: "twitter:image", content: this.ogImage }
      ]
    };
  },

  computed: {
    ogImage: function() {
      return;
    }
  },
  mounted() {
    // console.log(products);
  }
};
</script>
