<template>
  <div>Dashboard</div>
</template>

<script lang="js">
  import Vue from "vue";
  
  
  export default {
  props: [],
  data() {
    return {
     
    };
  },
  
  computed: {},
  methods: {
  },
  mounted() {}
}
</script>

<style lang="scss">
</style>








Vue.component("kkal-limit-counter", );
