<template>
  <div>
    Продукты
    <button @click="getProducts()">Получить</button>
    <br />
    <textarea v-model="csvText" cols="120" rows="8"></textarea>
    <br />
    <button @click="csvTojs()">преобразовать текст</button>
    <button @click="addProducts()">Записать</button>
    <br />
    <template v-for="(product, index) in products">
      {{index}} {{product['Name']}}
      <br :key="index" />
    </template>
  </div>
</template>

<script lang="js">
  import Vue from "vue";

  import apiClient from '../../api/'

  export default {
  props: [],
  data() {
    return {
      products: [],
      result: '',
      csvText: ''
    };
  },

  computed: {},
  methods: {
    async getProducts() {
      const result = await apiClient.food.getProducts()
      this.result = result.data
    },

    async addProducts() {
      if (this.products.length > 0) {
        const result = await apiClient.food.addProducts(this.products.splice(0, 25))
        this.result = result.data
        this.addProducts()
      } else { 
        console.log('продукты переданы')
      }
    },
   
  csvTojs() {
  var lines = this.csvText.split('\n')
  var result = []
  var headers = lines[0].split(',')

  for (var i = 1; i < lines.length; i++) {
    var obj = {}

    var row = lines[i],
      queryIdx = 0,
      startValueIdx = 0,
      idx = 0

    if (row.trim() === '') {
      continue
    }

    while (idx < row.length) {
      /* if we meet a double quote we skip until the next one */
      var c = row[idx]

      if (c === '"') {
        do {
          c = row[++idx]
        } while (c !== '"' && idx < row.length - 1)
      }

      if (
        c === ',' ||
        /* handle end of line with no comma */ idx === row.length - 1
      ) {
        /* we've got a value */
        var value = row.substr(startValueIdx, idx - startValueIdx).trim()

        /* skip first double quote */
        if (value[0] === '"') {
          value = value.substr(1)
        }
        /* skip last comma */
        if (value[value.length - 1] === ',') {
          value = value.substr(0, value.length - 1)
        }
        /* skip last double quote */
        if (value[value.length - 1] === '"') {
          value = value.substr(0, value.length - 1)
        }

        var key = headers[queryIdx++]
        obj[key] = value
        startValueIdx = idx + 1
      }

      ++idx
    }

    result.push(obj)
  }
  console.log(result)
  this.products = result
}
  },
  mounted() {}
}
</script>

<style lang="scss"></style>

Vue.component("kkal-limit-counter", );
