<template>
  <div>
  <div>
  СОСТАВИТЬ ГРАМОТНОЕ МЕНЮ НА ДЕНЬ, исходя из УРОВНЯ АКТИВНОСТИ - жми кнопку!
  </div>
  <div>
  Высокая физическая нагрузка >5 часов
   <button @click="updateKkalLimit('high')"  :class="{ activeActionType: chosenActionType==='high' }">Высокая нагузка</button> </div>
  <div>
  Нормальная активность весь день
   <button @click="updateKkalLimit('middle')" :class="{ activeActionType: chosenActionType==='middle' }">Средняя нагрузка</button> </div>
  <div>
  Умственно психологические нагрузки
   <button @click="updateKkalLimit('psiho')" :class="{ activeActionType: chosenActionType==='psiho' }">Умственная активность</button></div>
   <div>
   
  Ручной ввод
    <input type='number' v-model="handInputValue" @input='handInput()' max='5000'>
    </div>
   <div>
  ВЫБРАТЬ ПРОДУКТЫ ПО ВКУСУ, контролируя РН и желаемые витамины
  </div>
   <div><span class="is-size-4">Лимит килокалорий: {{limitKKal}} </span> </div>
  </div>
</template>

<script lang="js">
  import Vue from "vue";
  
  
  export default {
  props: ["updateLimit", "limitKKal"],
  data() {
    return {
      chosenActionType: "",
      handInputValue:0
    };
  },
  
  computed: {},
  methods: {
    updateKkalLimit(ActionType) {
      this.chosenActionType = ActionType;
      switch (ActionType) {
        case "high":
          this.updateLimit(3000);
          break;
        case "middle":
          this.updateLimit(2200);
          break;
        case "psiho":
          this.updateLimit(1500);
      }
    },
    handInput() {
      
      if (this.handInputValue>5000) {
        this.updateLimit(5000);
      }
      else {
        this.updateLimit(this.handInputValue);
      }
    }
  },
  mounted() {}
}
</script>

<style lang="scss">
</style>








Vue.component("kkal-limit-counter", );
