<template>
  <div>
    <h2>ВЫБОР ПРОДУКТА ДЛЯ ЕДЫ</h2>
    <input type="text" v-model="searchString" @input="debouncedQuery()" />

    <div style="overflow:auto;height:60vh;margin-top:20px;">
      <table class="table_sticky_head" style="width:100%;">
        <thead>
          <th>++</th>
          <th>Наименование</th>
          <th>kKal*</th>
          <th>белок*</th>
          <th>жир*</th>
          <th>вит.D*</th>
          <th>ГИ*</th>
          <th>йод*</th>
          <th>магний*</th>
          <th>селен*</th>
          <th>хром*</th>
          <th>медь*</th>
          <th>цинк*</th>
          <th>калий</th>
          <th>*Ca*</th>
          <th>сера*</th>
          <th>вит.C*</th>
          <th>вит.В9*</th>
          <th>*Si*</th>
          <th>вит.B5*</th>
          <th>вит.В6*</th>
          <th>вит.А*</th>
          <th>вит.В12*</th>
          <th>PH</th>
        </thead>
        <template v-for="(product, index) in searchResult">
          <searched-product
            :key="index"
            v-bind:product="product"
            v-bind:addProductToList="addProductToList"
            v-bind:productId="product._id"
            v-bind:showProductInfo="showProductInfo"
          />
        </template>
      </table>
    </div>
  </div>
</template>

<script lang="js">
  import Vue from "vue";
  import searchedProduct from "./searched-product.vue";
  import Api from '../../api'

const debounce = (func, delay) => {
      var timeout = null
      return  () => {
        clearTimeout(timeout)
        timeout = setTimeout(func, delay)
      }
    }

 export default {
  props: [ "addProductToList", "showProductInfo","searchStringSaved","saveSearchString"],
  data() {
    return {
      searchString: "",
      searchResult: []
    };
  },
  methods: {
    async searchOnServer() {
     const result = await Api.food.search(this.searchString)
     console.log('server ansvers', result.data)
     this.searchResult = result.data;
    },
    debouncedQuery: ()=>{},
  },
  components: {
    searchedProduct
  },
  mounted() {
    this.searchString=this.searchStringSaved;
    if (this.searchStringSaved !== "") {
      this.searchOnServer();
    }
    this.debouncedQuery = (debounce.call(this, this.searchOnServer , 400))
  }
}
</script>

<style lang="scss"></style>
