<template>
  <div>
    {{ analizeHealthScore(mainFormula()) }}
    <br />
    {{massIndex()}}
    <hr />

    <div
      :class="{ kkalLimitOverflow: calculateKKall >= limitKKal }"
    >Kkall {{ roundForView(calculateKKall) }} из {{ roundForView(limitKKal) }} осталось сегодня {{roundForView(limitKKal-calculateKKall)}}</div>
    <div>
      <table>
        <tr>
          <td>наименование</td>
          <td>Набрано</td>
          <td>Необходимо</td>
          <td>Разница</td>
          <td>Результат</td>
        </tr>
        <tr>
          <td>Kkall</td>
          <td>{{ roundForView(calculateKKall) }}</td>
          <td>{{limitKKal}}</td>
          <td>{{limitKKal-calculateKKall}}</td>
          <td>{{(limitKKal-calculateKKall) < 0 ? 1: 0}}</td>
        </tr>
        <tr>
          <td>Белки</td>
          <td>{{ calculateProtein }}</td>
          <td>{{specification['belok']['minQuantity']}}</td>
          <td>{{specification['belok']['minQuantity'] - calculateProtein}}</td>
          <td>{{markerProtein}}</td>
        </tr>
        <tr>
          <td>Жиры</td>
          <td>{{ calculateTuk }}</td>
          <td>{{specification['tuk']['minQuantity']}}</td>
          <td>{{specification['tuk']['minQuantity'] - calculateTuk}}</td>
          <td>{{markerTuk}}</td>
        </tr>
        <tr>
          <td>PH</td>
          <td>{{ calculateSpez }}</td>
          <td>
            min: 7
            <br />
            хорошо: {{specification['spez']['minQuantity']}}
            <br />max: 9
          </td>
          <td>{{specification['spez']['minQuantity'] - calculateSpez}}</td>
          <td>{{markerSpez}}</td>
        </tr>
        <tr>
          <td>Кальций</td>
          <td>{{ roundForView(calculateCa) }}</td>
          <td>
            {{specification['Ca']['minQuantity']}}
            <br />
          </td>
          <td>{{roundForView(specification['Ca']['minQuantity'] - calculateCa)}}</td>
          <td>{{}}</td>
        </tr>
      </table>

      <table>
        <tr>
          <td>наименование</td>
          <td>Набрано</td>
          <td>Необходимо</td>
          <td>Разница</td>
          <td>Результат</td>
        </tr>

        <tr v-for="(item, index) in specification" :key="index">
          <td>{{item.name}}</td>
          <td>{{ universalCalculateAmount(index) }}</td>
          <td>{{item.minQuantity}}</td>
          <td>{{ item.minQuantity - universalCalculateAmount(index) }}</td>
          <td>{{ universalCalculateMarker(index) }}</td>
        </tr>
      </table>

      <div v-if="!goToFormula">Отрицательный прогноз здоровья</div>
      <div v-else></div>
      <div>
        <button @click="changeRoute('/test-page/')">Пройти тест</button>
      </div>
      {{countBadMarkers()}}
    </div>
    <div>
      Кальций {{ calculateCa }} из 1400 мг | Вит.С= {{ calculateVitaminCC }} из
      150 мг | Вит.Д= {{ calculateVitaminDD }} из 5 мкг | Вит.H(биотин)=
      {{ calculateVitaminHH }} из 50 мкг | Вит.B12= {{ calculateVitamin12 }} из
      3 мкг |
    </div>
    Белок= {{ calculateProtein }} г | Сумма жиров= {{ calculateTuk }} г | Ср.ГИ
    - {{ calculateGlycemicIndex }} |Селен- {{ calculateSe }} мкг | Кобальт-
    {{ calculateCo }} мкг |Медь- {{ calculateCu }} мкг | Вит.Е-
    {{ calculateVitaminEE }} мг | Вит.В15 - {{ calculateVitamin15 }} мг | Вит.K-
    {{ calculateVitaminKK }} мг | Вит.А- {{ calculateVitamin }} мкг|
    <div
      :class="{ kkalLimitOverflow: calculateSpez < 7 || calculateSpez > 9 }"
    >PH {{ calculateSpez }}</div>
  </div>
</template>

<script lang="js">
  import Vue from "vue";
import specification from "../../database/spec-db.js";
  export default  {
  props: ["productsList", "limitKKal", "user", "day", 'changeRoute'],
  data() {
    return {
      kKall: 0,
specification:specification,

    };
  },

  computed: {
    calculateKKall() {
      let summaKKall = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["kalori"]
        ) {
          let kKal = parseFloat(
            this.productsList[i]["kalori"]
          );
          if (!isNaN(kKal) && !isNaN(prop)) {
            summaKKall += kKal*prop;
          } else {
            console.log("NAN");
          }
        }
      }
      return summaKKall;
    },
    calculateProtein() {
      let summaProtein = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["belok"]
        ) {
          let protein = parseFloat(
            this.productsList[i]["belok"]
          );
          if (!isNaN(protein) && !isNaN(prop)) {
            summaProtein += protein*prop;
          } else {
            console.log("NAN");
          }
        }
      }
      return summaProtein;
    },
    markerProtein() {
      return (this.specification['belok']['minQuantity'] - this.calculateProtein) < 0 ? 0 : 1
    },
    calculateTuk() {
      let summaTukin = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["tuk"]
        ) {
          let tuk = parseFloat(
            this.productsList[i]["tuk"]
          );
          if (!isNaN(tuk) && !isNaN(prop)) {
            summaTukin += tuk*prop;
          } else {
            console.log("NAN");
          }
        }
      }
      return summaTukin;
    },
    markerTuk() {
      return (this.specification['tuk']['minQuantity'] - this.calculateTuk) < 0 ? 0 : 1
    },
    calculateCa() {
      let summaCa = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["Ca"]
        ) {
          let z = parseFloat(this.productsList[i]["Ca"]);
          if (!isNaN(z) && !isNaN(prop)) {
            summaCa += z*prop;
          } else {
            console.log("NAN");
          }
        }
      }
      return summaCa;
    },
    calculateSe() {
      let summaSe = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["Se"]
        ) {
          let selen = parseFloat(
            this.productsList[i]["Se"]
          );
          if (!isNaN(selen) && !isNaN(prop)) {
            summaSe += selen*prop;
          } else {
            console.log("NAN");
          }
        }
      }
      return summaSe;
    },
    calculateCu() {
      let summaCub = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["Cu"]
        ) {
          let medo = parseFloat(
            this.productsList[i]["Cu"]
          );
          if (!isNaN(medo) && !isNaN(prop)) {
            summaCub += medo*prop;
          } else {
            console.log("NAN");
          }
        }
      }
      return summaCub;
    },
    calculateCo() {
      let summaCob = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["Co"]
        ) {
          let cobalt = parseFloat(
            this.productsList[i]["Co"]
          );
          if (!isNaN(cobalt) && !isNaN(prop)) {
            summaCob += cobalt*prop;
          } else {
            console.log("NAN");
          }
        }
      }
      return summaCob;
    },
    calculateVitamin() {
      let summaVitaminA = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["vitA"]
        ) {
          let vitaA = parseFloat(this.productsList[i]["vitA"]);
          if (!isNaN(vitaA)&& !isNaN(prop)) {
            summaVitaminA += vitaA*prop;
          } else {
            console.log("NAN");
          }
        }
      }
      return summaVitaminA;
    },
    calculateVitaminDD() {
      let summaVitaminD = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["vitD"]
        ) {
          let vitaD = parseFloat(this.productsList[i]["vitD"]);
          if (!isNaN(vitaD)&& !isNaN(prop)) {
            summaVitaminD += vitaD*prop;
          } else {
            console.log("NAN");
          }
        }
      }
      return summaVitaminD;
    },
    calculateVitaminCC() {
      let summaVitaminC = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["vitC"]
        ) {
          let vitaC = parseFloat(this.productsList[i]["vitC"]);
          if (!isNaN(vitaC)&& !isNaN(prop)) {
            summaVitaminC += vitaC*prop;
          } else {
            console.log("NAN");
          }
        }
      }
      return summaVitaminC;
    },
    calculateVitaminEE() {
      let summaVitaminE = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["vitE"]
        ) {
          let vitaE = parseFloat(this.productsList[i]["vitE"]);
          if (!isNaN(vitaE)&& !isNaN(prop)) {
            summaVitaminE += vitaE*prop;
          } else {
            console.log("NAN");
          }
        }
      }
      return summaVitaminE;
    },
    calculateVitaminHH() {
      let summaVitaminH = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["vitH"]
        ) {
          let vitaH = parseFloat(this.productsList[i]["vitH"]);
          if (!isNaN(vitaH)&& !isNaN(prop)) {
            summaVitaminH += vitaH*prop;
          } else {
            console.log("NAN");
          }
        }
      }
      return summaVitaminH;
    },
    calculateVitamin15() {
      let summaVitamin15 = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["B15"]
        ) {
          let vita15 = parseFloat(this.productsList[i]["B15"]);
          if (!isNaN(vita15)&& !isNaN(prop)) {
            summaVitamin15 += vita15*prop;
          } else {
            console.log("NAN");
          }
        }
      }
      return summaVitamin15;
    },
    calculateVitaminKK() {
      let summaVitaminK = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["vitK"]
        ) {
          let vitaK = parseFloat(this.productsList[i]["vitK"]);
          if (!isNaN(vitaK)&& !isNaN(prop)) {
            summaVitaminK += vitaK*prop;
          } else {
            console.log("NAN");
          }
        }
      }
      return summaVitaminK;
    },
    calculateVitamin12() {
      let summaVitamin12 = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["vitB12"]
        ) {
          let vita12 = parseFloat(this.productsList[i]["vitB12"]);
          if (!isNaN(vita12)&& !isNaN(prop)) {
            summaVitamin12 += vita12*prop;
          } else {
            console.log("NAN");
          }
        }
      }
      return summaVitamin12;
    },
    calculateGlycemicIndex() {
      let summaGlycemicIndex = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i]["GIN"]
        ) {
          let glycemicIndex = parseFloat(
            this.productsList[i]["GIN"]
          );
          if (!isNaN(glycemicIndex)) {
            summaGlycemicIndex += glycemicIndex;
          } else {
            console.log("NAN");
          }
        }
      }

      return summaGlycemicIndex / this.productsList.length;
    },
    calculateSpez() {
      let summaSpezPH = 0;
      let productCounter = 0
      for (let i = 0; i < this.productsList.length; i += 1) {
        if (
          this.productsList[i] &&
          this.productsList[i]["spez"]
        ) {
           productCounter +=1
          let spezPH = parseFloat(this.productsList[i]["spez"]);
          if (!isNaN(spezPH)) {
            summaSpezPH += spezPH;
          } else {
            // console.log("NAN");
          }
        }
      }

      return productCounter > 0 ?( Math.round((summaSpezPH / productCounter)*1000)/1000) : this.specification['spez']['minQuantity'];
    },
    markerSpez() {
      return  (this.calculateSpez < 7 || this.calculateSpez > 9) ? 1 :0
    },
    goToFormula() {
      const markerKkal = this.limitKKal-this.calculateKKall<0?1:0;
      return (this.markerSpez === 0 && this.markerTuk === 0 &&this. markerProtein === 0 && markerKkal === 0)
    }
  },
  
  methods: {
    roundForView(number) {
      return (Math.round(number*1000))/1000
    },
    universalCalculateAmount(elementKey) {
      if (elementKey === "spez") {
        return this.calculateSpez
      }
      if (elementKey === "GIN") {
        return this.calculateGlycemicIndex
      }
      
      let summa = 0;
      for (let i = 0; i < this.productsList.length; i += 1) {
        let prop = parseFloat(this.productsList[i]["prop"])
        if (
          this.productsList[i] &&
          this.productsList[i][elementKey] !== undefined
        ) {
          let productElementAmount = parseFloat(this.productsList[i][elementKey]);
          if (!isNaN(productElementAmount)&& !isNaN(prop)) {
            summa += productElementAmount*prop;
          } else {
            console.log("NAN");
          }
        } else {
          console.log(this.productsList[i])
          console.log("не совпало: ", elementKey)
        }
      }

      return summa;
    },
    universalCalculateMarker(elementKey) {
      if (elementKey === "spez") {
        return  (this.calculateSpez < 7 || this.calculateSpez > 9) ? 1 :0
      }
      return   (this.specification[elementKey]['minQuantity'] - this.universalCalculateAmount(elementKey)) < 0 ? 0 : 1  
    },
    reduceFunc(summa, specificationKey) {
      return summa + this.universalCalculateMarker(specificationKey)
    },
    countBadMarkers() {
      return Object.keys(this.specification).reduce(this.reduceFunc, 0)
    },

    mainFormula() {
      if (this.day.pulse < 54) return -2000000

      let healthScore = 0;

      const currentMassIndex = this.massIndex()

      if (this.day.pulse>85) {
        healthScore -= this.day.pulse*10
      } else {
        healthScore += 70000 - ((this.day.pulse - 56) * 1000)
      }


      if (currentMassIndex>24 || currentMassIndex<18) {
        healthScore -= 5000
      }
      
      if (this.day.hoursOfSleep>4) {
        healthScore += (this.day.hoursOfSleep-4)*1000
      } else {
         healthScore -= 5000
      }

      if (this.day.minutesOfExercises) {
        healthScore += this.day.minutesOfExercises*300
      }

      if (this.day.attitude) {
        healthScore += (this.day.attitude-3)*1000
      }

      healthScore -= this.countBadMarkers()*1000
      return healthScore
    },

    analizeHealthScore(healthScore) {
      if (healthScore<0) return 'Требуется консультация кардиолога'
      if (healthScore<20000) {
        return `Здоровье в опасности.`
      } else if (healthScore>= 20000 && healthScore<44000) {
        return `Здоровье в порядке. Требуется ежедневный тест здоровья`
      } else if (healthScore>= 44000 && healthScore<51000) {
        return `Здоровье хорошее. Тест здоровья 1 раз в неделю`
      } else if (healthScore>= 51000) {
        return `Здоровье отличное.`
      }
    },
    massIndex() {
      return 10000*this.day.mass/ this.user.height**2
    }
  },
  mounted() {}
}
</script>

<style lang="scss"></style>
