<template>
 
  <div>
  <td>
  <button @click="showProductInfo(null)"> X </button>
</td>
 
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img :src="'assets/photos/'+ product['foto']" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{ product['НАИМЕНОВАНИЕ ПРОДУКТА']}}</p>
        <p class="subtitle is-6">@johnsmith</p>
      </div>
    </div>

    <div class="content">
      {{product['deistvie']}}
    </div>
    <div class="content">
    ПРОИЗВОДИТЕЛЬ: {{product['ПРОИЗВОДИТЕЛЬ']}}<br>
    СОСТАВ: {{product['ingrdient']}}<br>
    </div>
  </div>
</div>
 {{product}}

  </div>
</template>

<script lang="js">
  import Vue from "vue";


  export default{
  props: ["showProductInfo","product"],
  data() {
    return {
    };
  },
  methods: {
   
  },
  mounted() {}
}
</script>

<style lang="scss">
</style>
