<template>
  <div>
    <div v-for="(product,index) of productsList" :key="`${index}_${product._id}`">
      <button @click="removeProductFromList(index)">-</button>
      {{index +1}}. {{product["Name"]}}-{{product["porz"]}}(рекомендуемая порция) -(полное имя){{product["fullname"]}}
    </div>
    <hr />
  </div>
</template>

<script lang="js">
  import Vue from "vue";


  export default{
  props: ["productsList", 'removeProductFromList'],
  data() {
    return {
    };
  },
  methods: {
   
  },
  mounted() {}
}
</script>

<style lang="scss">
</style>

