<template>
  <tr>
    <td style="white-space:nowrap">
      <button @click="addProductToList(product)">+</button>
      <button @click="showProductInfo(productId)">i</button>
    </td>
    <td>{{product['Name']}}</td>
    <td>{{product['kalori']}}</td>
    <td>{{product['belok']}}</td>
    <td>{{product['tuk']}}</td>
    <td>{{product['vitD']}}</td>
    <td>{{product['GIN']}}</td>
    <td>{{product['Iod']}}</td>
    <td>{{product['Mg']}}</td>
    <td>{{product['Se']}}</td>
    <td>{{product['Cr']}}</td>
    <td>{{product['Cu']}}</td>
    <td>{{product['Zn']}}</td>
    <td>{{product['K']}}</td>
    <td>{{product['Ca']}}</td>
    <td>{{product['Sera']}}</td>
    <td>{{product['vitC']}}</td>
    <td>{{product['B9']}}</td>
    <td>{{product['Si']}}</td>
    <td>{{product['B5']}}</td>
    <td>{{product['B6']}}</td>
    <td>{{product['vitA']}}</td>
    <td>{{product['vitB12']}}</td>
    <td>{{product['spez']}}</td>
  </tr>
</template>

<script lang="js">
  import Vue from "vue";


  export default {
  props: ["product", "addProductToList", "productId","showProductInfo"],
  data() {
    return {};
  },
  template: ``,
  methods: {},
  mounted() {}
}
</script>

<style lang="scss">
</style>
