<template>
  <div class="sliderContainer">
    <div class="sliderValue">{{label}}</div>

    <input
      type="range"
      name="2"
      :min="min"
      :max="max"
      v-model.number="value"
      :step="step"
      @input="reorder"
      @change="change"
    />
    <label for="2">{{value}}</label>
  </div>
</template>

<script lang="js">
  import Vue from "vue";
  
 export default {
  props: ["label", "min", 'max', 'step', "name", "changeTestData"],
  data() {
    return {
    value: 0,      
      testData: {}
    };
  },
  methods: {
   reorder() {

   },
   change() {
       this.changeTestData(this.name, this.value )
   }
  },
  components: {
    
  },
  mounted() {

    this.$nextTick(()=> {
      console.log(this.name, this.min)
      this.value = this.min
      this.changeTestData(this.name, this.value)
    })
    
  }
}
</script>

<style lang="css" scoped>
label {
  font-size: 20px;
}

.sliderValue {
  font-size: 20px;
}

.sliderContainer {
  margin-top: 10px;
}

.count {
  font-size: 20px;
  margin-left: 10px;
}

input[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 40px;
  width: 50%;
  cursor: pointer;
  border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
  background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; /* 1 */
  height: 40px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw dodgerblue;
  border: 2px solid #999; /* 1 */
}

::-moz-range-track {
  height: 40px;
  background: #ddd;
}

::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 20px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw dodgerblue;
  box-sizing: border-box;
}

::-ms-fill-lower {
  background: dodgerblue;
}

::-ms-thumb {
  background: #fff;
  border: 2px solid #999;
  height: 40px;
  width: 20px;
  box-sizing: border-box;
}

::-ms-ticks-after {
  display: none;
}

::-ms-ticks-before {
  display: none;
}

::-ms-track {
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
}

::-ms-tooltip {
  display: none;
}
</style>





