<template>
  <div class="test-main">
    test page
    <div>
      Результат
      <div>{{Z}}</div>
      <div>{{result}}</div>
    </div>
    <template>
      <slider
        v-for="(question, index) in testConfig"
        v-bind:key="'slider_'+index"
        :label="question.label"
        :min="question.min"
        :max="question.max"
        :step="question.step"
        :name="question.name"
        :changeTestData="changeTestData"
      />
    </template>
  </div>
</template>

<script lang="js">
  import Vue from "vue";

  import slider from './inputs/slider.vue'

  import { quickTestConfig } from './test-config.js'
  
 export default {
  props: [ ],
  data() {
    return {
      testData: {},
      testConfig: quickTestConfig,
      result: 0,
      Z:0
    };
  },
  computed: {
    
  },
  methods: {
      changeTestData (key, value)  {
          this.testData[key] = value
          console.log(this.testData)
          this.getZ()
           this.getResult()
      },
      getZ() {
      this.Z = (this.testData.heart_rate  + this.testData.heart_rate_on_the_device) /2

    
    },

    getResult() {
      let zPoints = 0;
      
      if(this.Z>95) {zPoints = -100*(this.Z-76)} else {zPoints = 5000}
      if( this.Z<49) {zPoints -= 6000}
      
      let tPoints = 0
      if(this.testData.temperature>37) {tPoints = Math.floor(-10000*(this.testData.temperature-36.6))} 

      let tuPonts = 0
      if(this.testData.the_upper_pressure>130 || 
        this.testData.the_upper_pressure<90) {
          tuPonts = -250
          } else {
            tuPonts = 250
          }
      let lpPoints = 0
      if(this.testData.lower_pressure>85 || 
        this.testData.lower_pressure<55) {
          lpPoints = -250
          } else {
            lpPoints = 250
          }

      let commonPoints = (
        ['open_air_time','health', 'purpose','mood'].map((key)=>(this.testData[key]*12)).reduce((a, b) => a + b, 0))
      console.log(commonPoints)
      this.result =zPoints + tPoints + tuPonts +  lpPoints +commonPoints
    }
  },
  components: {
    slider
  },
  mounted() {
     this.$nextTick(this.getZ)
  }
}
</script>

<style lang="scss" scoped>
.test-main {
  padding: 40px;
}
</style>
